.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  .axis-label {
    font-size: 12px;
  }

  .graph-container {
    display: flex;
    justify-content: space-between;
}

.large-graph {
    flex: 2;
    margin-left: -50px;
    position: fixed;
    left: 0;
    bottom: 30px;
    width: 50%;
    height: auto;
}

.small-graphs {
  position: fixed;
  right: 100px;
  width: 45%;
  bottom: 30px;
}

.small-graph {
  height: auto;
}

.small-graph:last-child {
  margin-top: -80px;
}

.controls-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.buttons-container,
.dropdowns-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title-container h2 {
  margin-top: -70px;
  padding-left: 250px;
  font-size: 36px;
  font-weight: bold;
}
.title-container p {
  margin-top: -20px;
  padding-left: 250px;
  font-size: 16px;
  color: #666;
}

button, select {
  padding: 5px 10px;
  margin: 0;
  cursor: pointer;
}

select {
  cursor: pointer;
}
#intro {
  text-align: center;
  padding: 200px;
}

#intro h1 {
  margin-bottom: 10px;
}

#intro p {
  margin-bottom: 20px;
}

#sort-info {
  width: 300px;
  word-wrap: break-word;
}
