.bar {
    fill: steelblue;
  }
  
  .bar:hover {
    fill: orange;
  }
  
  .axis-label {
    font-size: 12px;
  }
  #chart {
    transform: translate(20px, 30px); /* Moves right 20px and down 30px */
  }